.App {
  margin-bottom: 80px;
  word-wrap: break-word;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.no-pointer {
  cursor: default;
}

.checked {
  color: #282c34;
  position: absolute;
  top:0;
}

.current-question {
  max-width: 70%;
  border: blanchedalmond solid 1px;
  border-radius: 10px;
}

.question-in-list {
  border: blanchedalmond solid 1px;
  border-radius: 10px;
  background-color: darkslategray;
}

.question-content {
  text-align: left;
}

.current-question h2 {
  color: orangered;
}

.start-in-list {
  background-color: green;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  color: white;
}

.closed {
  background-color: red;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5vh;
  /*justify-content: center;*/
  font-size: calc(10px + 1vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.answers-card-table {
  max-height: 300px;
  overflow: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
